<div class="section"> 
  <div class="container-large">
    <h1 class="text-center">Mes rendez-vous</h1>
  </div>

  <div class="d-flex justify-content-center">
    <%= link_to "A venir", giver_appointments_path, class:"red me-3"%>
    <%= link_to "Passés", giver_appointments_path(category: "passed"), class:"red"%>
  </div>

  <% if params[:category] == "passed" %>
    <%= render "appointments/list", appointments: @passed_appointments, category: "passed"%>
  <% else %>
    <%= render "appointments/list", appointments: @upcoming_appointments, category: "upcoming"%>
  <% end %>