<div class="section"> 
  <div class="container-large">

    <h2 class="text-center">Mes récompenses</h2>
    <% @givers_gardeners_points.each do |givers_gardeners_point| %>

    <% end %>
  </div>
</div>