#garden-search{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 8px;
  margin: 12px auto;
  max-width: 600px;
  border-radius: 8px;
  border: 1px solid #ced4da;
 ._address {
    margin: 0 8px !important;
  }
  .icon  {
    width: 20px;
  }

}