#garden-show {
  .main-image {
    width: 100%;
    min-height: 250px;
    object-fit: cover;
    margin-bottom: 16px;
  }

  .garden-description {
    background-color: $gray;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  h1 {
    color: $red
  }
}

@media(min-width: 768px) {
 
  #garden-show {
    height: 100%;
    .header {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 16px;
    }
    .main-image {
      margin-bottom: 0 !important;
    }
  }
}

#spinner {
  max-width: 70px;
  text-align: center;
  margin: 1rem 12px 0 12px;
}

.spinner-button {
  padding: 8px;
  color: $green;
  font-size: 12px;
  border: 1px solid $green
}
 
.appointment_compost_type legend {
  display: none 
}

.compost-type-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.compost-type-item {
  margin: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.compost-type-selector {
  position: absolute;
  transform: scale(0);
}

.compost-type-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  padding: 120px 4px 12px 4px;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  font-size: 23px;
  height: 173px;
  width: 156px;
  background-position: center;
  object-fit: cover;
  background-size: cover;
  text-align: center;
}

@media(min-width: 768px) {
  .compost-type-selector + label {
    padding: 143px 12px 12px 12px;
    height: 189px;
    width: 200px;
  }
}

.compost-type-selector:checked + label {
  font-weight: 700 !important;
  border: 3px solid $green
}

#appointment_compost_type_biodéchets + label {
  background-image: asset-url("biodechets.png");
}

#appointment_compost_type_biodéchets:checked + label {
  background-image: asset-url("biodechets_actif.png");
}

#appointment_compost_type_compost_mûr + label {
  background-image: asset-url("compost_mur.png");
}

#appointment_compost_type_compost_mûr:checked + label {
  background-image: asset-url("compost_mur_actif.png");
}














