// Import Google fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: 'Necto Mono', monospace;
$headers-font: 'Necto Mono', monospace;



// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "Necto Mono";
  src: font-url('Necto-Mono.otf');
  src: font-url('Necto-Mono.woff') format('woff'),
       font-url('Necto-Mono.woff2') format('woff2')
}
$NectoMono: "NectoMono";
