<div> Vous avez reçu un nouveau message sur Le Koinpost !</div> 
<hr>

<div>De la part de:<strong><%= @contact.first_name%> <%= @contact.last_name %></strong></div>
<div>Email: <%= @contact.email %></div>
<br>
<%= @contact.content %>


