// Specific CSS for your home-page

#home {
  h1 {
    font-family: 'Open Sans', sans-serif;
    margin-top: 140px;
  }
  h2 {
    color: $red !important;
  }
  h3 {
    color: $green !important;
    font-size: 1.4em !important;
  }
  #logo {
    height: 140px;
    position: absolute;
    right: 0;
  }
  #faq {
    display: flex;
    justify-content: space-between;
    align-items: end;
    position: absolute; 
    bottom: 0;
    left: 8x;
    right: 8x;
    width: 100%
  }
  
  #faq div {
    padding: 8px;
    background-color: $light-gray;
    width: 100%
  }

  .faq-title {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
    height: 100%;
  }
  #title-1 {
    height: 120px;
  }
  #title-2 {
    height: 190px;
  }
  #title-3 {
    height: 140px;
  }
  #home-infos {
    flex-grow: 1;
    padding: 16px;
    min-height: 100vh;
    position: relative;
  }
  #home-hero {
    background-image: url('home');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: sticky;
    top: 0;
    background-position: 50% 50%;
  }
  #login-button {
    width: 150px;
    position: absolute;
    bottom: 16px;
    right: 16px;
  }

}