// Specific CSS for your home-page

#home {
  h2 {
    color: $red !important;
  }
  h3 {
    color: $green !important;
    font-size: 1.4em !important;
    margin-bottom: 0 !important;
  }
  // #logo {
  //   height: 140px;
  //   margin: 0 auto;
  // }

  #home-infos {
    flex-grow: 1;
    padding: 16px;
    position: relative;
  }
  #home-hero {
    background-image: url('home');
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
    position: sticky;
    top: 0;
    background-position: 50% 50%;
  }

}

@media(min-width: 768px) {
  #home-hero-container {
    margin: 0 !important;
    position: relative;
    top: 0; 
    bottom: 0;
    left: 0; 
    right: 0
  }
  #home-hero {
    height: 100% !important;
  }
  #home-infos {
    min-height: 80vh;
  }
}

// HOME FAQ 
#faq {
  margin-top: 24px;
  details {
    margin-top: 12px
  }
  summary {
    padding: 8px;
    background-color: $light-gray;
    width: 100%;
    list-style: none;
    display: flex !important;
    cursor: pointer;
    justify-content: space-between;
    align-items: start;
  }

  summary::-webkit-details-marker {
    display: none;
  }

  .faq-content {
    background-color: white !important;
    padding: 8px;
  }
  #summary-1 {
    max-width: 220px;
  }
  #summary-2 {
    max-width: 280px;
  }
  #summary-3 {
    max-width: 380px;
  }
  details[open] > summary{
    max-width: none !important;
  }
}





summary.opened i.fa-chevron-down {
  transform: rotate(180deg);
  transition: transform 0.2s ease-in-out;
}