.gardener-cards {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 12px;
  column-gap: 12px
}

.gardener-card {
  display: flex;
  min-height: 230px;
  h2 {
    font-size: 1.4em !important;
  }
}

.gardener-card:hover {
  border: 2px solid $dark
}

.gardener-infos {
  background-color: $gray;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gardener-image {
  background-size: cover;
  background-repeat: no-repeat;
}