.gardener-cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
}

@media(min-width: 768px) {
  .gardener-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media(min-width: 992px) {
  .gardener-cards {
    grid-template-columns: 1fr;
  }
}

.gardener-card {
  display: flex;
  min-height: 230px;
  h2 {
    font-size: 1.4em !important;
  }
}

.gardener-card:hover, .reward-card:hover {
  border: 2px solid $dark
}

.gardener-infos {
  background-color: $gray;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gardener-image {
  background-size: cover;
  background-repeat: no-repeat;
}