#gardener-search{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 8px;
  border-bottom: 3px solid #000;
  margin: 12px auto;
  max-width: 600px;
 ._address {
    margin: 0 8px !important;
  }
  #location-icon  {
    width: 20px;
  }
}