<div class="conversation-container">
  <div class="container-large">
    <%# if @conversations.present? %>
      <%= render "list", conversations: @conversations, active_conversation: @active_conversation%>
    <%# end %>
  </div>
</div>