<div class="section footer bg-white">
  <div class="container-large text-center">
    <hr>
    <small> Copyright Le Koinpost 2023</small><br>
    <small><%= link_to "Mentions légales", mentions_legales_path %></small>
  </div>
</div>