@import "calendar";
@import "card";


#appointments-tabs  {
  color : $red !important;
  .active {
   border-bottom: 2px solid $red;
  }
  .inactive {
    opacity: 0.5;
    border: none !important;
  }
}