<div class="section">
    <div class="container-medium">

        <h1 class="text-center">FAQ</h1>

        <div class="list-inline tabs">
            <div class="active me-4">Je donne du compost</div>
            <%= link_to "Je reçois du compost", faq_jardins_path, class:"inactive"%>
        </div>

        <div id="faq" data-controller="faq-buttons">

            <details>
                <summary>
                <div class="d-inline h5">Comment fonctionne Le Koinpost ?</div>
                <i class="fas fa-chevron-down"></i>
                </summary>
                <div class="faq-content">Le Koinpost connecte les citadins n’ayant pas de jardin à des espaces végétalisés pour déposer leurs déchets organiques. Inscrivez-vous, déposez vos biodéchets à un point de collecte partenaire, gagnez des points et obtenez des récompenses écolos.</div>
            </details>

            <details>
                <summary>
                <div class="d-inline h5">Quels types de déchets puis-je composter avec Le Koinpost ?</div>
                <i class="fas fa-chevron-down"></i>
                </summary>
                <div class="faq-content">Vous pouvez composter des épluchures de fruits et légumes, marc de café, sachets de thé, coquilles d’œufs, restes de plantes, papier et carton non traités. Évitez la viande, les produits laitiers et les huiles.</div>
            </details>

            <details>
                <summary>
                <div class="d-inline h5">Où puis-je trouver les points de collecte ?</div>
                <i class="fas fa-chevron-down"></i>
                </summary>
                <div class="faq-content">Les points de collecte sont disponibles sur notre site web. Utilisez notre carte interactive pour trouver le jardin partenaire le plus proche de chez vous.</div>
            </details>

            <details>
                <summary>
                <div class="d-inline h5">Quels sont les avantages du compostage urbain ?</div>
                <i class="fas fa-chevron-down"></i>
                </summary>
                <div class="faq-content">Le compostage urbain réduit les déchets organiques, enrichit les sols, favorise la biodiversité, diminue les émissions de méthane et soutient les jardins communautaires.</div>
            </details>

            <details>
                <summary>
                <div class="d-inline h5">Comment puis-je participer à l’initiative Le Koinpost ?</div>
                <i class="fas fa-chevron-down"></i>
                </summary>
                <div class="faq-content">Inscrivez-vous sur notre site, déposez vos biodéchets dans un jardin partenaire et gagnez des points à chaque dépôt. Vous pouvez également participer en devenant un point de collecte partenaire.</div>
            </details>

            <details>
                <summary>
                <div class="d-inline h5">Y a-t-il des coûts associés à la participation à Le Koinpost ?</div>
                <i class="fas fa-chevron-down"></i>
                </summary>
                <div class="faq-content">L’inscription à Le Koinpost est gratuite. Cependant, certains services ou événements spécifiques peuvent avoir des coûts associés.</div>
            </details>

            <details>
                <summary>
                <div class="d-inline h5">Que faire si je n’ai pas assez de déchets pour composter régulièrement ?</div>
                <i class="fas fa-chevron-down"></i>
                </summary>
                <div class="faq-content">Même de petites quantités de déchets organiques sont utiles. Vous pouvez les conserver dans un récipient au réfrigérateur ou au congélateur jusqu’à ce que vous ayez suffisamment pour un dépôt.</div>
            </details>

            <details>
                <summary>
                <div class="d-inline h5">Comment puis-je devenir un point de collecte partenaire ?</div>
                <i class="fas fa-chevron-down"></i>
                </summary>
                <div class="faq-content">Contactez-nous via notre site web pour plus d’informations sur les critères et les avantages de devenir un point de collecte partenaire.</div>
            </details>

            <details>
                <summary>
                <div class="d-inline h5">Qui peut rejoindre Le Koinpost ?</div>
                <i class="fas fa-chevron-down"></i>
                </summary>
                <div class="faq-content">Toute personne vivant en milieu urbain, qu’elle soit novice ou expérimentée en compostage, peut rejoindre Le Koinpost pour transformer ses déchets organiques en ressources précieuses.</div>
            </details>
            </div>
        </div>
        </div>

    </div>
</div>