<div class="section">
    <div class="container-medium">

    <h1 class="text-center">FAQ</h1>

    <div class="list-inline tabs">
       <%= link_to "Je donne du compost", faq_path, class: "inactive me-4"%>
        <div class="active">Je reçois du compost</div>
    </div>

    <div id="faq" data-controller="faq-buttons">

          <details>
            <summary>
              <div class="d-inline h5">Qu’est-ce que Le Koinpost et comment fonctionne-t-il ?</div>
              <i class="fas fa-chevron-down"></i>
            </summary>
            <div class="faq-content">Le Koinpost connecte les citadins sans jardin à des espaces végétalisés pour déposer leurs déchets organiques, qui sont ensuite transformés en compost pour enrichir les sols urbains.</div>
          </details>

          <details>
            <summary>
               <div class="d-inline h5">Comment devenir un point de collecte partenaire avec Le Koinpost ?</div>
               <i class="fas fa-chevron-down"></i>
            </summary>
            <div class="faq-content">Pour devenir un point de collecte partenaire, contactez-nous via notre site web. Nous vous fournirons les critères et les avantages associés. Nous recherchons des jardins engagés dans la durabilité et prêts à accueillir des dépôts de biodéchets.</div>
          </details>

          <details>
            <summary>
              <div class="d-inline h5">Quels sont les avantages de devenir un point de collecte ?</div>
              <i class="fas fa-chevron-down"></i>
            </summary>
            <div class="faq-content">En devenant un point de collecte, vous contribuerez à la réduction des déchets organiques, enrichirez les sols de votre jardin et soutiendrez la communauté locale.</div>
          </details>

           <details>
            <summary>
              <div class="d-inline h5">Y a-t-il des coûts associés pour les jardins partagés ?</div>
              <i class="fas fa-chevron-down"></i>
            </summary>
            <div class="faq-content">Devenir un point de collecte est gratuit.</div>
          </details>

          <details>
            <summary>
              <div class="d-inline h5">Qui peut rejoindre Le Koinpost en tant que point de collecte ?</div>
              <i class="fas fa-chevron-down"></i>
            </summary>
            <div class="faq-content">Tout jardin partagé engagé dans la durabilité et la communauté peut devenir un point de collecte. Nous accueillons les initiatives locales désireuses de faire une différence positive dans leur environnement.</div>
          </details>
        </div>
      </div>
    </div>

    </div>
</div>