<div class="container-large" id="home">
  <div class="row mt-4 d-flex flex-wrap">
    <div class="col-12 col-md-8">
      <div id="home-infos">

        <%# <div class="d-flex justify-content-center">
          <%= image_tag "logo.png", id:"logo" %>
        <%# </div> %>
        <h1>Transformez vos biodéchets</h1>

        <%= render "gardens/search" %>

        <h2>Soyez bon avec la planète, <br>elle vous le rendra</h2>
        <div id="faq" data-controller="faq-buttons">

          <details>
            <summary id="summary-1">
              <h3 class="d-inline">Pourquoi ?</h3>
              <i class="fas fa-chevron-down"></i>
            </summary>
            <div class="faq-content">On aimerait tou.te.s réduire la quantité de nos déchets. Une possibilité serait de les recycler et de les trier. Il suffirait de mettre le plastique et les cartons dans la poubelle jaune, les verres et métaux dans la poubelle verte, et les bio-déchets dans le bac à compost. Mais où vont ces bacs à compost? Comment valoriser nos biodéchets sur nos territoires?</div>
          </details>

          <details>
            <summary id="summary-2">
               <h3 class="d-inline">Comment ?</h3>
               <i class="fas fa-chevron-down"></i>
            </summary>
            <div class="faq-content">Chez Le Koinpost nous pensons avoir trouvé la solution. En vous dirigeant vers une liste de potagers urbains où poussent des légumes, fruits, plantes, et/ou fleurs à proximité de votre adresse, vous aurez le choix de donner vos bio-déchets à un jardinier avec qui vous pourrez organiser une collecte. Celle-ci peut se faire soit en déposant vos déchets au potager..</div>
          </details>

          <details>
            <summary id="summary-3">
              <h3 class="d-inline">Récompense</h3>
              <i class="fas fa-chevron-down"></i>
            </summary>
            <div class="faq-content">Nous créons une situation où les potagers locaux ne dépendent plus de l'achat de compost industriel et où vous accumulez des points/jetons au jardin à qui vous donnez vos bio-déchets. Chaque jardin peut définir la quantité correspondante aux points et vous recevrez une récompense ! Elles peuvent être utilisées dans le réseau participant.</div>
          </details>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 p-0 position-relative" id="home-hero-container">
      <div id="home-hero" class="flex-grow-1">
      </div>
    </div>
</div>