<div class="container-large" id="home">
  <div class="row d-flex flex-wrap">
    <div class="col-12 col-md-8">
      <div id="home-infos">

        <div class="d-flex justify-content-center">
          <%= image_tag "logo.png", id:"logo" %>
        </div>
        <h1>Transformez vos biodéchets</h1>

        <%= render "gardeners/search" %>

        <h2>Soyez bon avec la planète, <br>elle vous le rendra</h2>
        <div id="faq" data-controller="faq-buttons">

          <details class="faq-item">
            <summary class="faq-title" id="title-1">
              <h3>Pourquoi ?</h3>
            </summary>
            <div class="faq-content"> Nous créons une situation où les potagers locaux ne dépendent plus de l'achat de compost industriel et où vous accumulez des points/jetons au jardin à qui vous donnez vos bio-déchets.</div>
          </details>

          <details class="faq-item">
            <summary class="faq-title" id="title-2">
              <h3>Comment ?</h3>
            </summary>
            <div class="faq-content"> Nous créons une situation où les potagers locaux ne dépendent plus de l'achat de compost industriel et où vous accumulez des points/jetons au jardin à qui vous donnez vos bio-déchets.</div>
          </details>

          <details class="faq-item">
            <summary class="faq-title" id="title-3">
              <h3>Récompense</h3>
            </summary>
            <div class="faq-content"> Nous créons une situation où les potagers locaux ne dépendent plus de l'achat de compost industriel et où vous accumulez des points/jetons au jardin à qui vous donnez vos bio-déchets.</div>
          </details>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 p-0 position-relative" id="home-hero-container">
      <div id="home-hero" class="flex-grow-1">
      </div>
    </div>
</div>