<div class="section"> 
  <div class="container-medium">
    <h1 class="text-center my-4">Mentions légales</h1>

    <h4>Edition</h4>
    <p>Le site www.lekoinpost.com est la propriété de Le Koinpost.<br>Email : <%= mail_to "contact@lekoinpost.com", "tel:contact@lekoinpost.com", target: "_blank"%><br>
    <%# Siret : <span class="red">XXXX</span><br> %>
    </p>
    <br>
    <h4>Hébergement</h4>
    <p>HEROKU <br>San Francisco, Californie<br>USA</p>
    <br>
    <h4>Cookies</h4>
    <p>La navigation sur ce site est susceptible de provoquer l’installation de cookies votre ordinateur. Un cookie ne permet pas l’identification de l’utilisateur mais enregistre des informations relatives à sa navigation. Les données ainsi obtenues visent à faciliter la navigation ultérieure sur le site et permettent de mesurer sa fréquentation.</p>
  </div>
</div>