<div class="section">
  <div class="container-medium">
  
    <div class="row">
        <div class="d-none d-lg-block col-12 col-lg-6">
            <%= image_tag "contact", class:"img-fluid max-vh-75" %>
        </div>
        <div class="col-12 col-lg-6 d-flex flex-column justify-content-center">   
            <h4 class="mb-3"><strong>Merci pour votre message !</strong></h4>
            <p>Nous vous répondrons au plus vite.</p>
            <p>L'équipe Le Koinpost.</p>
        </div>
    </div>
</div>