<div class="section">
    <div class="container">
  
        <div class="row">
            <div class="d-none d-md-block col-12 col-md-6 img-fluid" style="background-image: url(<%= asset_path 'contact.jpg'%>">
            </div>
            <div class="col-12 col-md-6 d-flex flex-column justify-content-center px-4">   
                <h4 class="mb-3"><strong>Merci pour votre message !</strong></h4>
                <p>Nous vous répondrons au plus vite.</p>
                <p>L'équipe Le Koinpost.</p>
            </div>
        </div>
    </div>
</div>