<div class="section">
  <div class="breadcrumbs">
      <%= image_tag "icons/home" %> > <%= link_to "Mon jardin", garden_path(slug: @garden.slug)%> > Modifier
    </div>

  <div class="container-small">

    <h1 class="text-center my-4">Modifier mon jardin</h1>
    
    <%= simple_form_for @garden, url: update_garden_path(@garden.slug), method: :patch do |f| %>
      <%= render "form", f: f, garden: current_user.garden %>
    <% end %>

  </div>
</div>