<div class="section bg-gray-1">
  <div class="container-small bg-white p-3">
    <h1 class="text-center my-4">Créer mon jardin</h1>

      <%= simple_form_for @garden, url: create_garden_path(@garden.slug), method: :post do |f| %>
        <%= render "form", f: f, garden: @garden %>
      <% end %>

  </div>
</div>