.btn-light {
  border: 3px solid #000 !important;
  padding: 8px 16px;
  background-color: white !important;
  border-radius: 3px;
}

.btn-egg {
  display: flex;
  width: 133px;
  height: 74px;
  background-color: #1D832C;
  border-radius: 60% 100% 57% 100%;
  align-items: center;
  justify-content: center;
  color: white !important;
  border: none !important;
}

.btn-light-red {
  border: 2px solid $red !important;
}

.btn-light-red:hover {
  color: white !important;
  background-color: $red !important;
}

.btn-egg:hover {
  background-color: white !important;
  color: $green !important;
  border: 2px solid $green !important;
}

.devise-button {
  border: none !important;
  background-color: #11ffee00 !important;
  width: 190px;
  transition: transform 0.2s ease-in-out
}

.move-on-hover:hover {
  transform: rotate(10deg)
}

.upload-photo {
  border: 1px solid #d3d3d3;
  padding: 16px 24px;
  cursor: pointer;
  font-weight: 500;
  background: white;
  border-radius: 2px;
  margin-top: 12px;
}

.add-btn {
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.add-btn:hover {
  transform: scale(1.1);
}

.chat-icon {
  width: 40px;
  height: 40px;
  padding: 8px;
}

