.form-control {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 3px solid black;
  background-color: #11ffee00 !important;
  padding-bottom: 8px;
  color: $dark !important;
  font-size: inherit;
}

.form-control:focus {
  border: 3px solid $red !important;
  box-shadow: none !important;
  color: $dark !important
}

#red-splash{
  display: none;
}

@media(min-width: 576px) {
  #red-splash {
    position: absolute;
    left: 0;
    top: 0;
    display: block
  }

  .devise-form {
    position: absolute;
    top: 0;
    width: 50%;
    left: 25%;
  }
}

.devise-section {
  min-height: 500px;
}

.password-visibility-button {
  position: absolute;
  top: 6px;
  right: 6px;
}

.form-control::placeholder { 
  color: $dark;
  opacity: 0.8;
}

.form-control:-ms-input-placeholder, .form-control::-ms-input-placeholder{ /* Internet Explorer 10-11 */
  color: $dark;
}
