.form-control {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 3px solid black;
  background-color: #11ffee00 !important;
  padding-bottom: 8px;
  color: $dark !important;
  font-size: inherit;
}

.form-control:focus {
  border: 3px solid $red !important;
  box-shadow: none !important;
  color: $dark !important
}

.form-control::placeholder, .form-control:-ms-input-placeholder, .form-control::-ms-input-placeholder { 
  color: $dark;
  opacity: 1;
}

#red-splash {
  position: absolute;
  left: 0;
  top: 0
}

.devise-form {
  position: absolute;
  right: 0;
  top: 0;
  width: 75%
}

.devise-section {
  min-height: 70vh
}

.password-visibility-button {
  position: absolute;
  top: 6px;
  right: 6px;
}