// Import your components CSS files here.
@import "alert";
@import "buttons";
@import "avatar";
@import "forms";
@import "form_legend_clear";
@import "map";
@import "navbar";
@import "pagy";
@import "tabs";

img {
  background-position: center;
  object-fit: cover;
  background-size: cover;
}