#map {
  border: 2px solid black;
  min-height: 300px;
}

@media(min-width: 992px) {
  #map {
    position: sticky;
    top: 110px;
    height: 100vh;
  }
}

.mapboxgl-ctrl-geocoder {
  font-family: 'Necto Mono', monospace;
  max-width: none;
  width: 100%;
  border: none;
  box-shadow: none;
  background-color: transparent;
  z-index: 0;
  svg {
    display: none !important;
  }
  input {
    padding: 8px !important;
    font-family: "Necto Mono";
  }
}

a.mapboxgl-ctrl-logo, .mapboxgl-ctrl-attrib-inner {
  display: none !important;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
}

.mapboxgl-popup, .info-window {
  width: 180px;
  min-height: 200px;
  border-radius: 15px;
  font-size: 1.05em !important;
  img {
  width: 160px;
  }
}