#map {
  border: 2px solid black;
  min-height: 300px;
}

@media(min-width: 992px) {
  #map {
    position: sticky;
    top: 110px;
    height: 100vh;
  }
}

.mapboxgl-ctrl-geocoder {
  max-width: none;
  width: 100%;
  border: none;
  box-shadow: none;
  background-color: transparent;
  svg {
    display: none !important;
  }
  input {
    padding: 8px !important;
  }
}


.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

