.navbar-lewagon {
  justify-content: space-between;
  align-items: center;
  background: white;
  border-bottom: 1px solid #d9d9d9;
  position: sticky !important;
  top: 0;
  z-index: 1020;
  padding: 0 !important;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  padding: 32px;
  height: 100vh;
}

@media(min-width: 768px) {
  .navbar-lewagon .navbar-collapse {
    height: auto !important;
    padding: 8px !important;
  }
}

.navbar-brand {
  padding: 0 !important;
}

.navbar-lewagon .navbar-brand img {
  height: 80px;
}

.navbar-toggler {
  border: none !important;
}

.navbar .dropdown-toggle::after {
  display: none !important
}

// .navbar-nav {
//   align-items: center;
// }

.navbar .icon {
  width: 20px;
  margin-right: 8px;
}

.nav-item {
  display: flex;
}

.dropdown-item {
  margin-bottom: 8px;
}

.breadcrumbs {
  display: inline-block;
  margin: 1em 0;
  img {
    width: 25px;
    margin-left: 8px;
  }
}