.tabs  {
  color : $red !important;
  display: flex;
  justify-content: center;
  .active {
   border-bottom: 2px solid $red;
  }
  .inactive {
    opacity: 0.5;
  }
}

.tab:hover {
  border-bottom: 2px solid $red !important;
}