// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import "@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder";
@import "flatpickr/dist/flatpickr.css";

// Your CSS partials
@import "components/index";
@import "gardners/index";
@import "pages/index";

.section {
  padding: 12px 6vw;
}

.container-large {
  max-width: 1400px;
  margin: 0 auto;
}

img {
  background-position: center;
  object-fit: cover;
}

a {
  text-decoration: none !important;
  color: black !important;
}

button {
  border: none !important;
  background-color:#11ffee00 !important
}