<% if @selected_appointments.present? %>
  <div class="appointments-cards">
    <% @selected_appointments.each do |appointment| %>
      <% if current_user == appointment.gardener %>
        <%= render "giver_card", appointment: appointment %>
      <% else %>
        <%= render "gardener_card", appointment: appointment %>
      <% end %>
    <% end %>
  </div>
<% else %>
  <div class="text-center">Aucun rendez-vous trouvé.</div>
<% end %>