@import "card";
@import "search";


.gardner-cards {
  display: grid; 
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  flex-grow: 1;
}

@media(min-width: 992px) {
  .gardner-cards {
    grid-template-columns: 1fr;
  }
}