.reward-title {
  display: flex; 
  align-items: center;
  justify-content: center;
  margin: 24px 0;
  .basket {
    width: 100px;
  }
}

@media(min-width: 768px) {
  .reward-title {
    .basket {
      width: 200px;
      margin-left: 2em;
    }
  }
}

.reward-cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
}

@media(min-width: 768px) {
  .reward-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media(min-width: 1200px) {
  .reward-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.reward-card {
  background-color: $gray;
  padding: 16px;
  text-align: center;
  height: 100%;
}



.progress-bar {
  background-color: $green;
}

